.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.siteMap {
    background: #f7f7fa;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.wrapper {
    max-width: 720px;
    padding: 1rem;
}