.posts {
    display: flex;
    flex-direction: column;
}

.post {
    margin: 1rem 0;
    max-width: 420px;
    /* width: 100%; */
    align-self: flex-start;
}


@media (min-width: 520px) {
    .post:nth-child(2n) {
        align-self: flex-end;
        margin-right: 0;
    }
}

.post:first-child {
    margin-top: 0;
}

.post:last-child {
    margin-bottom: 0;
}

.date {
    font-size: .8rem;
    color: #747474;
}

.author {
    font-weight: 600;
}

.author::after {
    content: "·";
    font-weight: 600;
    margin-left: .5rem;
    margin-right: .5rem;
}

.content {
    font-size: .8rem;
    margin: 0;
    padding: 0.5rem;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    background-color: #f8f8f8;
}