
.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -.5rem;
    margin-bottom: 2rem;
}

.images.desktop {
    display: none;
}

.imageColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

@media(min-width: 720px) {

    .imageColumn {
        width: calc(100% / 3);
    }

    .images.desktop {
        display: flex;
    }

    .images.mobile {
        display: none;
    }
}