.imageContainer {
    display: flex;
    opacity: 0;
    transition: .5s ease-out opacity;
    overflow: hidden;
    margin: .5rem;
}

.imageWrapper {
    width: 100%;
}

.imageContainer {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.imageContainer img {
    width: 100%;
    height: auto;
    height: 100%;
    object-fit: contain;
}

.imageContainer.loaded {
    opacity: 1;
}

.imageContainer.noShadow {
    box-shadow: none;
}