.scrollUpButton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    z-index: 999;

    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--link-color);
    color: #FFF;
    opacity: 0;
    transform: scale(0.8);
    transform-origin: center bottom;
    visibility: hidden;
    transition: .2s ease-out all;
}

@media(min-width: 720px) {
    .scrollUpButton {
        margin: 2rem;
    }
}

.scrollUpButton svg {
    width: 100%;
    height: auto;
    pointer-events: none;
    stroke: #FFF;
}

.scrollUpButton.visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.scrollUpButton:hover {
    background-color: var(--link-color-hover);
}